.profile {
    background-color: rgb(62, 143, 97);
    height: 55em;
}

.profile-menu {
    height: 50em;
    background-color: rgb(171, 224, 110) !important;
    ;
}

.profile-list {
    display: flex;
    /* flex-direction: column; */
    justify-content: space-around;
    /* align-items: center; */
    flex-wrap: wrap;
    margin-left: 4em;
    margin-top: 2em;
    /* overflow-y: scroll; */
}

.ind-plant {
    display: flex;
    flex-direction: column;
    margin-bottom: 3em;
    margin-right: 4em;
    align-items: center;
    text-align: center;
    /* justify-content: space-between; */
    height: 15.5em;
    width: 16em;
    background-color:rgb(235, 214, 181) !important;
    ;
    /* border-top: solid 0.1em rgba(21, 73, 0, 0.329);
    border-bottom: solid 0.1em rgba(21, 73, 0, 0.329); */
    border: solid 0.35em rgba(34, 117, 1, 0.705);
    border-radius: .5em;
    box-shadow: 0.75em 0.75em 0.75em rgb(73, 73, 73);
}

.ind-plant-img {
    width: 4em;
    height: 4em;
    margin-bottom: 1em;
}

.ind-plant-btn {
    padding-bottom: .5em;
}

.plant-nick {
    color: rgb(0, 97, 0);
    font-weight: bolder;
}

.my-info {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 50em;
    margin-top: 2em;
    margin-left: 5em;
    background: linear-gradient( 0.25turn, rgba(245, 208, 165, 0.911), rgb(253, 223, 188), rgba(245, 208, 165, 0.911)) !important;
    border: solid .25em rgb(10, 94, 10);
    border-radius: 1em;
    width: 70em;
    padding: 2em;
}

.info-container {
    display: flex;
    flex-direction: column;
    gap: 3em;
}

.info-title {
    color:rgb(10, 94, 10);
    font-weight: 500;
}

.info-data {
    display: flex;
    flex-direction: column;
    align-self: center;
    height: 30em;
    width: 25em;
}

.info-subject{
    display: flex;
    flex-direction: column;
    margin-bottom: 5em;    
}

/* this is the outer border around letter */
.info-icon {
    padding: .4em;
    border-radius: 25em;
    background-color: rgb(37, 116, 0);
    margin-bottom: 3em;
}

/* This is the inner border around letter to keep from morphing shape of icon circle */
.icon-letter {
    font-size: 800%;
    background-color: rgb(244, 250, 226);
    color: green;
    padding: .25em;
    padding-left: .7em;
    padding-right: .7em;
    border-radius: 20em;
}

.icon-letter img {
    width: 1em;
}

.icon-and-btn {
    display: flex;
    flex-direction: column;
    margin-top: 2em;
}

.icon-and-btn button {
    background-color: rgb(55, 226, 107);
    color: rgb(0, 0, 0);
}

h1 {
    margin-bottom: unset;
    font-size: 120%;
    margin-bottom: 0.5em;
}


.info-title {
    font-size: 150%;
    /* background-color: rgb(87, 204, 58) !important; */
    color: rgb(6, 136, 13);
    /* text-align: center; */
    width: auto;
    padding-left: .2em;
    padding-right: .2em;
    border-radius: .2em;
}

.info-data {
    background-color: rgba(144, 238, 144, 0.329);
    padding: 1em;
    border: solid .05em black;
}



/* .ind-plant .ind-plant-btn {
    align-self: flex-end;
} */