body {
    background-color: rgb(97, 235, 159);
    font-family: 'Poppins', sans-serif;
}

.landing-screen {
    display: flex;
    justify-content: space-around;
    text-align: center;
    height: 100%;
}

.landing-title {
    margin-top: 10em;
}

.app-title {
    font-size: 400%;
    font-weight: bold;
}

.login-btn {
    margin-right: 2em;
    width: 10em;
    background-color: green;
}
.sign-in-btn {
    margin-left: 2em;
    width: 10em;
    background-color: green;
}