.landing-screen {
    display: flex;
    justify-content: space-around;
    text-align: center;
    /* align-items: center; */
    height: 100%;
    /* line-height: 10em; */
}

.landing-title {
    
}