footer {
    display: flex;
    justify-content: center;
    padding: 1em;
    background-color: rgb(21, 92, 65);
    color: rgb(239,223,170);
    align-self: flex-end;
    /* margin-bottom: -50px; */
    width: 100%;
    /* margin-top: rem; */
    margin-top: 3em;
    /* position: absolute;
    vertical-align: bottom; */
    /* position:fixed; */
    position:absolute;
left:0;
bottom:0;
right:0;
}


 footer img {
     height: 1.6em;
 }