.main-nav {
    display: flex;
    justify-content: flex-end;
}

.nav-buttons {
    background-color: green;
}

.profile-dropdown {
    font-size: 300%;
    margin-right: 1em;
    margin-top: .5em;
    margin-bottom: .5em;
    background-color: rgb(243, 242, 204);
    border: .04em solid rgb(6, 107, 11);
    color: rgb(6, 107, 11);
    padding: .45em;
    padding-top: .2em;
    padding-bottom: .2em;
    border-radius: 3em;
}

.profile-dropdown:hover {
    background-color: rgb(6, 107, 11);
    border: .05em solid rgb(243, 242, 182);
    color: rgb(243, 242, 182);
}

.dropdown-item {
    width: 10em;
}

.dropdown-letter {
    text-align: center;
    width: 1em;
    height: 1.5em;
}