.main-nav {
    display: flex;
    justify-content: space-between;
    margin: 1rem 1.5rem;



}

.main-nav h1 {
    font-size: 3rem;
    font-weight: bold;
    align-self: center;
    margin: 0;
    color: rgb(44,163,113);
    text-shadow: 2px 2px rgb(31,118,70);
    text-decoration: underline rgb(110,80,55);
}

.main-nav img {
    width:2.5rem;
    height:2.5rem;
    align-self: flex-end;
}
.nav-buttons {
    background-color: green;
}

.profile-dropdown {
    font-size: 300%;
    background-color: rgb(229, 250, 170);
    border: .06em solid rgb(6, 107, 11);
    color: rgb(6, 107, 11);
    padding: .45em; 
    padding-top: .2em;
    padding-bottom: .2em;
    border-radius: 3em;
}

.profile-dropdown:hover {
    background-color: rgb(37, 85, 58) !important; 
    color: rgb(238, 235, 230) !important;
    border: .06em solid rgb(243, 242, 182) !important;
}

.dropdown-item {
    width: 10em;
}

.dropdown-letter {
    text-align: center;
    width: 1em;
    height: 1.5em;
}